*{
    background-color: black;
}

a{
    color: green;
    font-weight: bold;       
}

a:hover{
    color: white;
}

a:active{
    color:aquamarine;
}

p,
ul,
ol{
    color: greenyellow;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color:greenyellow;
    font-family: 'Comic Sans',sans-serif;
    font-size: 48px;
}

h2{
    color:greenyellow;
    font-family: 'Comic Sans',sans-serif;
    font-size: 36px;
}

.home-link{
    color: white;
    font-size: 26px;
}

.home-link:hover{
    color:grey;
}

.home-link:active{
    color: greenyellow;
}

